@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #333;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  font-size: 14px;
}

ul, ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

ul li, ol li {
  list-style: none;
}

.btn-purple {
  background-color: #ad1f6d;
  border-color: #ad1f6d;
}

.view-all-btn {
  color: #ad1f6d;
  background-color: #fff;
  /* color: #fff; */
  padding: 8px 20px;
  font-size: 14px;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 4px;
  border: 2px solid #ad1f6d;
  line-height: 1;
  transition: all .2s ease-in-out;
}
.view-all-btn:hover {
  color: #fff;
  background-color: #ad1f6d;
  border-color: #fff;
}

.hero-heading {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  line-height: 70px;
  letter-spacing: 0.1rem;
}

.hero-sub-heading {
  font-size: 20px;
  font-weight: 400;
  color: #e6e6e6;
  line-height: 45px;
  letter-spacing: 0.1rem;
}

.section-titile-bg {
  display: inline;
  font-size: 115px;
  font-weight: 700;
  height: 100%;
  left: -173px;
  opacity: 0.1;
  position: absolute;
  top: -14px;
  width: 100%;
  text-align: center;
}

.section-title-header p {
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 36px;
}

.section-title {
  font-size: 36px;
  color: #333;
  line-height: 52px;
  padding-bottom: 15px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 0;
}

.section-title:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 45px;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #ac1e6c
  /* background-color: #0eacf3; */
}

.section-subcontent {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 36px;
}

.section-sub {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 52px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  position: relative;
}

.section-sub:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 45px;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #ad1f6d;
}

.subtitle {
  font-size: 15px;
  margin-top: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.inner-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.page-tagline {
  font-size: 24px;
  font-weight: 400;
  color: #ddd;
}

.page-title {
  font-size: 62px;
  font-weight: 700;
  color: #fff;
}

.btn {
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 0px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  /* background-color: #0eacf3; */
  background-color: #ad1f6d;
  position: relative;
  z-index: 1;
}

.btn-common:hover {
  color: #fff;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-border {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0px;
  padding: 10px 20px;
}

.btn-border:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  padding: 7px 10px;
  text-transform: capitalize;
}

button:focus {
  outline: none !important;
}

.icon-close, .icon-check {
  color: #0eacf3;
}

.bg-drack {
  background: #f1f1f1;
}

.bg-white {
  background: #fff;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #ad1f6d;
  border-radius: 0px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover, a.back-to-top:focus {
  text-decoration: none;
}

#preloader {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  top: 45%;
  position: relative;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #ad1f6d;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.section-padding {
  padding: 60px 0;
}

.no-padding {
  padding: 0 !important;
}

.padding-left-none {
  padding-left: 0;
}

.padding-right-none {
  padding-right: 0;
}

#page-banner-area {
  background: url(../img/background/banner.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.page-banner {
  position: relative;
  min-height: 250px;
  color: #fff;
}

.page-banner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.page-banner .page-banner-title {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}

.page-banner .page-banner-title h2 {
  color: #fff;
  font-size: 40px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* top bar started */
#topbar {
  border-bottom: 1px solid #80808026;
}
.topbar .address {
  padding: 0.5rem 0;
  font-size: 14px;
  color: #000;
}
.topbar .address .phone {
  margin-right: 8px;
}
.topbar .address .phone:hover, .topbar .address .text:hover {
  color: #ad1f6d;
}
.topbar .address i {
  padding-right: 2px;
}
.topbar .icon {
  padding: 0.5rem 0;
  font-size: 15px;
}
.topbar .icon a {
  padding: 0.2rem 0.8rem;
  color: #ad1f6d;
  border-radius: 4px;
  margin: 0 2px;
}
.topbar .icon a:hover {
  color: #fff;
  background-color: #ad1f6d;
}
@media (max-width: 767px) {
  .topbar .address {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .topbar .address {
    font-size: 13px;
  }
  .topbar .icon {
    font-size: 13px;
  }
}

/* .topbar .icon i:last-child {
  padding-right: 0rem;
} */
#white-bg {
  background: #fff;
}

#roof {
  background: #ddd;
  padding: 15px 0;
}

#roof .info-bar-address {
  font-size: 14px;
}

#roof .quick-contacts span {
  margin-right: 10px;
}

#roof .quick-contacts span a {
  color: #333;
}

#roof .quick-contacts span a:hover {
  color: #ad1f6d;
}

#roof .quick-contacts span i {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 15px;
}

.navbar-brand {
  position: relative;
  padding: 0px;
}

.navbar-brand img {
  width: 75%;
}

.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  top: 0px !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  min-height: 58px;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  background: #fff !important;
}

/* .top-nav-collapse .navbar-brand {
  top: 0px;
} */

.top-nav-collapse .navbar-nav .nav-link {
  color: #333 !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  color: #ad1f6d !important;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #fff !important;
}

.indigo {
  background: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #333;
  padding: 0 17px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 40px;
  text-transform: uppercase;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
  color: #ad1f6d;
  outline: none;
}

.navbar {
  padding: 0;
}

.navbar li.active a.nav-link {
  color: #fff !important;
  background: #ad1f6d;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 99;
  min-width: 210px;
  background-color: #fff;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown-menu:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -5px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #f5f5f5;
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  text-align: left;
  top: 100%;
  border: none;
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
  background: #f5f5f5;
}

.dropdown .dropdown-menu .dropdown-item {
  width: 100%;
  padding: 12px 20px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #f1f1f1;
  text-decoration: none;
  display: inline-block;
  float: left;
  clear: both;
  position: relative;
  outline: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown .dropdown-menu .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
  color: #ad1f6d;
}

.dropdown-item.active, .dropdown-item:active {
  background: transparent;
}

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}

.slicknav_btn {
  border-color: #ad1f6d;
}

.slicknav_menu .slicknav_icon-bar {
  background: #ad1f6d;
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #nav-main li a.nav-link {
    padding-top: 18px;
  }
}

.navbar-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 0px 15px;
    top: 0;
  }
  .navbar-brand img {
    width: 75%;
  }
  #mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav .active a {
    background: #ad1f6d;
    color: #fff;
  }
  .slicknav_nav a:hover, .slicknav_nav .active {
    color: #ad1f6d;
    background: #f5f5f5;
  }
  .slicknav_nav .dropdown li a.active {
    background: #f5f5f5;
    color: #ad1f6d;
  }
}
/*My header code start here */
.nav-mod-title {
  color: #463d3d;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-family: fantasy;
}
.nav-mod-title:hover {
  color: #ad1f6c;
}
@media (max-width: 768px) {
  .nav-mod-title {
    /* top: 13px; */
    top: 15px;
    font-size: 1.2rem;
  }
}


/* My header code ends here */
#about .intro-title {
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
}

#about .title-sub {
  font-size: 38px;
  margin-bottom: 15px;
}

.counter-section {
  background: url(../img/background/bg-1.jpg);
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.counter-section:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.counter-section .counter {
  padding: 30px 0;
}

.counter-section .counter .icon {
  margin-bottom: 15px;
}

.counter-section .counter .icon i {
  font-size: 60px;
  color: #ad1f6d;
}

.counter-section .counter p {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin: 30px 0;
}

.counter-section .counter .counterUp {
  color: #fff;
  font-size: 42px;
  margin-top: 15px;
  font-weight: 700;
}

/* Sponsors Area */
#sponsors {
  background: #f2f2f2;
}

#sponsors .spnsors-logo {
  display: inline-block;
  border: 1px solid #E8E8E8;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#sponsors .spnsors-logo img {
  width: 80%;
}

/* Schedule Area */
#schedule-tab {
  position: relative;
}

.schedule .schedule-area {
  background: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.schedule .schedule-tab-title {
  margin-bottom: 35px;
}

.schedule .schedule-tab-title .nav-tabs .nav-link {
  border-radius: 0px;
  position: relative;
  cursor: pointer;
  height: 100px;
  width: 211px;
  margin-left: -1px;
  border: 1px solid #e5e5e5;
  transition: all 500ms ease;
}

.schedule .schedule-tab-title .nav-tabs .nav-item.show .nav-link, .schedule .schedule-tab-title .nav-tabs .nav-link.active,
.schedule .schedule-tab-title .nav-tabs .nav-item .nav-link:hover {
  background: #ad1f6d;
  border: 1px solid #ad1f6d;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.schedule .schedule-tab-title .nav-tabs .nav-item.show .nav-link h4, .schedule .schedule-tab-title .nav-tabs .nav-link.active h4,
.schedule .schedule-tab-title .nav-tabs .nav-item .nav-link:hover h4 {
  color: #fff;
}

.schedule .schedule-tab-title .nav-tabs .nav-item.show .nav-link h5, .schedule .schedule-tab-title .nav-tabs .nav-link.active h5,
.schedule .schedule-tab-title .nav-tabs .nav-item .nav-link:hover h5 {
  color: #fff;
}

.schedule .schedule-tab-title .nav-tabs .nav-item.show .nav-link:before, .schedule .schedule-tab-title .nav-tabs .nav-link.active:before,
.schedule .schedule-tab-title .nav-tabs .nav-item .nav-link:hover:before {
  content: '';
  position: absolute;
  left: 13%;
  bottom: -24px;
  border-width: 12px;
  border-style: solid;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  border-color: #ad1f6d transparent transparent transparent;
}

.schedule .schedule-tab-title .item-text {
  padding-left: 65px;
  padding-top: 15px;
}

.schedule .schedule-tab-title .item-text i {
  position: absolute;
  top: 25px;
  left: 15px;
  display: inline-block;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #676970;
  text-align: center;
  background: #ebebeb;
  border-radius: 50%;
  transition: all 500ms ease;
}

.schedule .schedule-tab-title .item-text h4 {
  font-size: 15px;
  color: #2f323c;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.schedule .schedule-tab-title .item-text h5 {
  font-size: 14px;
  color: #848484;
  line-height: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.schedule .table {
  margin: 0;
}

.schedule .table thead th {
  border-bottom: none;
  background: #383c45;
  padding: 23px 8px 24px 30px;
  padding-left: 40px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
}

.schedule .tab-content .inner-box {
  border: 1px solid #eee;
}

.schedule .tab-content .table > tbody > tr {
  border-top: 1px solid #efefef;
}

.schedule .tab-content .table > tbody > tr > td {
  padding: 22px 40px;
  font-size: 16px;
  color: #333;
  position: relative;
  text-transform: capitalize;
}

.schedule .tab-content .table > tbody .time {
  width: 240px;
}

.schedule .tab-content .table > tbody .time i {
  margin-right: 5px;
}

.schedule .tab-content .table > tbody .speakers {
  width: 290px;
}

.schedule .tab-content .table > tbody .speakers .speaker {
  position: relative;
  margin-left: 60px;
}

.schedule .tab-content .table > tbody .speakers .speaker .images-box {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -15px;
  left: -60px;
}

.schedule .tab-content .table > tbody .speakers .speaker .images-box img {
  border-radius: 4px;
}

.schedule .tab-content .table > tbody .speakers .speaker h5 {
  font-size: 16px;
  font-weight: 400;
}

.schedule .tab-content .table > tbody .speakers .speaker h5 a {
  color: #333;
}

.schedule .tab-content .table > tbody .speakers .speaker h5 a:hover {
  color: #ad1f6d;
}

.schedule .tab-content .table > tbody .subject {
  width: 300px;
}

.schedule .tab-content .table > tbody .venue {
  width: 190px;
}

.schedule .table-striped tbody tr:nth-of-type(odd) {
  background: #f2f2f2;
}

/* why Item */
.why {
  background: #f2f2f2;
}

.why-item {
  padding: 15px 0;
}

.why-item .icon {
  float: left;
  margin-top: 20px;
  padding-right: 15px;
}

.why-item .icon i {
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  background: #ad1f6d;
  border: 1px solid #ad1f6d;
  color: #fff;
  border-radius: 0;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.why-item .why-content {
  padding-left: 70px;
}

.why-item .why-content h3 {
  margin-bottom: 10px;
}

.why-item .why-content h3 a {
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #ad1f6d;
}

.why-item:hover .icon i {
  background: transparent;
  color: #ad1f6d;
}

/* Team Item */
#team {
  background: #f2f2f2;
}

.team-item:hover {
  box-shadow: 0 25px 35px -12px rgba(0, 0, 0, 0.35);
}

.team-item {
  margin: 15px 0;
  border-radius: 4px;
  box-shadow: 0 25px 35px -20px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .team-img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
}

.team-item .team-overlay {
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  width: 100%;
  border-radius: 8px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .overlay-social-icon {
  color: #fff;
  top: 45%;
  position: absolute;
  display: table-cell;
  margin: 0 auto;
  width: 100%;
}

.team-item .overlay-social-icon .social-icons {
  padding-left: 0;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  transform: translateY(-30px);
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .overlay-social-icon .social-icons li {
  display: inline-block;
  margin: 0 4px;
}

.team-item .overlay-social-icon .social-icons li a {
  letter-spacing: 0px;
  outline: 0 !important;
}

.team-item .overlay-social-icon .social-icons li a i {
  font-size: 20px;
  color: #fff;
  width: 36px;
  height: 36px;
  display: block;
  border-radius: 4px;
  line-height: 36px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .overlay-social-icon .social-icons li a:hover .fa-facebook-f {
  color: #3B5998;
}

.team-item .overlay-social-icon .social-icons li a:hover .fa-twitter {
  color: #00aced;
}

.team-item .overlay-social-icon .social-icons li a:hover .fa-instagram {
  color: #fb3958;
}

.team-item .info-text {
  padding: 15px 20px;
  background: #fff;
}

.team-item .info-text h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}

.team-item .info-text h3 a {
  color: #333;
}

.team-item .info-text h3 a:hover {
  color: #ad1f6d;
}

.team-item .info-text p {
  margin: 0;
  color: #888;
}

.team-item:hover .team-overlay {
  opacity: 1;
}

.team-item:hover .social-icons {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.slide-item {
  margin-top: 60px;
  margin-bottom: 0px;
}

.slide-item .inner-box {
  position: relative;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 32px;
  background: #fff;
  padding-right: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.slide-item .inner-box h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-top: 50px;
}

.slide-item .inner-box h3 a {
  color: #2f323c;
}

.slide-item .inner-box h3 a:hover {
  color: #ad1f6d;
}

.slide-item .inner-box span {
  font-size: 14px;
  color: #848484;
  margin-bottom: 30px;
  font-weight: 400;
}

.slide-item .inner-box p {
  margin-top: 10px;
}

.slide-item .image-thum {
  position: absolute;
  display: inline-block;
  top: -30px;
  box-shadow: 0px -3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.slide-item .image-thum img {
  display: inline-block;
}

/* service section started */
#service .service-block-wrapper {
  border: 1px solid #ddd;
  display: inline-block;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 3px rgb(0 0 0 / 20%);
}
#service .service-block-wrapper .image-box {
  position: relative;
}
#service .service-block-wrapper .service-img {
  width: 100%;
  height: 250px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#service .service-block-wrapper .image-overlay {
  background-color: #192340;
  color: #fff;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  /* overflow: hidden; */
  transition: all 0.5s ease 0s;
  z-index: 20;
}
#service .service-block-wrapper .service-title {
  padding-top: 10px;
  padding-bottom: 10px;
  /* font-size: 22px; */
  text-transform: uppercase;
  color: #fff;
  background-color: #ad1f6d;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#service .service-block-wrapper .service-title h5 {
  margin: 0;
  font-size: 16px;
}
#service .service-block-wrapper .btn-detail {
  display: none;
  position: absolute;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 40px;
  width: 85px;
  z-index: 21;
  line-height: 1;
  border-radius: 4px;
  transition: color 0.3s ease-in-out;
}
#service .service-block-wrapper .btn-detail:hover {
  background-color: #ad1f6d;
}
#service .service-block-wrapper:hover .btn-detail {
  display: block;
}
#service .service-block-wrapper:hover .image-overlay {
  opacity: 0.5;
}
/* gallery item section */

/* .gallery-padding {
  padding-left: 15px;
  padding-right: 15px;
} */

/* #gallery .col-sm-6, #gallery .col-md-6, #gallery .col-lg-3, #gallery-detail .col-sm-6, #gallery-detail .col-md-6, #gallery-detail .col-lg-3 {
  padding-left: 0;
  padding-right: 0;
} */
#gallery .card, #gallery-detail .card {
  overflow: hidden;
}
#gallery .card-img-top, #gallery-detail .card-img-top {
  height: 180px;
  transition: all 0.2s ease-in-out;
}
#gallery .card:hover .card-img-top, #gallery-detail .card:hover .card-img-top {
  transform: scale(1.05);
}
#gallery .image-black-cover, #gallery-detail .image-black-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#gallery .item-view, #gallery-detail .item-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 36px;
  width: 36px;
  color: #ac1e6c;
  background-color: #fff;
  border-radius: 50%;
  transform: scale(0);
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
#gallery .item-view  i {
  font-size: 19px;
  margin-top: 8px;
  margin-left: 2px;
  font-weight: 400;
}
#gallery-detail .item-view i {
  font-size: 19px;
  margin-top: 8px;
  margin-left: 9px;
  font-weight: 400;
}
#gallery .image-black-cover::before, #gallery-detail .image-black-cover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: rgba(56, 66, 77, 0.85);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
#gallery .card:hover .image-black-cover::before, #gallery-detail .card:hover .image-black-cover::before {
  height: 100%;
}
#gallery .card:hover .item-view, #gallery-detail .card:hover .item-view {
  transform: scale(1);
  visibility: visible;
}
/* Video gallery */
#video-gallery .video-item {
  margin-bottom: 25px;
  overflow: hidden;
}



/* Contact Home Page Section */
.contact {
  background: #111111;
}

#conatiner-map {
  width: 100%;
  height: 630px;
}

.title-forme {
  font-size: 28px;
  margin-bottom: 20px;
}

.contact-item {
  position: relative;
  text-align: center;
}

.contact-item i {
  width: 70px;
  height: 70px;
  display: inline-block;
  line-height: 70px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  background: #2d2d2d;
  color: #fff;
  border-radius: 4px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.contact-item .contact-info h3 {
  color: #ad1f6d;
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-item .contact-info p {
  color: #fff;
}

/* Subscribe Form */
.subscribe-inner {
  text-align: center;
}

.subscribe-inner .subscribe-title {
  font-size: 36px;
  margin-bottom: 30px;
}

.subscribe-inner p {
  color: #888;
  margin-bottom: 30px;
}

.subscribe-inner .sub-btn {
  margin: 0;
  width: 12rem;
  padding: 18px 40px;
  min-width: 12rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.subscribe-inner .form-control {
  position: relative;
  background: #fff;
  border: 2px solid #f1f1f1;
  border-radius: 0px;
  box-shadow: none;
  color: #888999;
  height: 55px;
  margin-right: -1px;
  width: 67%;
}

.subscribe-inner .form-control:focus {
  color: #333;
  background-color: #fff;
  border-color: #ad1f6d;
  outline: 0;
}

.subscribe-inner .form-inline {
  position: relative;
  margin-bottom: 30px;
  margin: 0 auto;
  width: 75%;
}

/* Contact Forme */
#google-map-area {
  position: relative;
}

#google-map-area .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.contact-map {
  position: relative;
}

.contact-map .map-wrapper {
  position: relative;
  margin-bottom: -10px;
}

.contact-map .container-form {
  /* position: absolute; */
  /* top: -630px; */
  /* width: 450px; */
  /* left: 0%; */
  padding: 40px 15px;
  z-index: 99;
}
/* @media (max-width: 575px) {
  .contact-map .container-form {
    margin-left: -15px;
    width: auto;
  }
} */

.contact-map .container-form .form-wrapper {
  background-color: white;
  padding: 20px 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.contact-map .form-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #333;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  /* border: 1px solid #f1f1f1; */
  border: 1px solid  #a7a0a0;
  border-radius: .25rem;
}

.contact-map .form-control:focus {
  color: #333;
  background-color: #fff;
  border-color: #ad1f6d;
  outline: 0;
}
.contact-map .container-map {
  padding: 40px 15px;
  height: 100%;
  width: 100%;
}
.contact-map .ifram-box {
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 20px 25px;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}
.container-map .ifram-box iframe {
  width: 100%;
  height: 100%;
}
.list-unstyled li {
  margin-top: 10px;
  color: #dc3545 !important;
}

.text-danger {
  margin-top: 20px;
  font-size: 18px;
}

.heading {
  margin-bottom: 30px;
}

.form-control {
  display: block;
  width: 100%;
  line-height: 26px;
  font-size: 14px;
  box-shadow: none;
  color: #848484;
  text-transform: capitalize;
  background: #ffffff;
  padding: 7px 19px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.form-control:focus {
  border-color: #ad1f6d;
  outline: 0;
}

/* Footer Area Start */
.footer-area {
  background: #252525;
}

.footer-area .social-icon li {
  display: inline-block;
}

.footer-area .social-icon li a {
  color: #000;
  background: #fff;
  width: 35px;
  height: 35px;
  line-height: 40px;
  display: block;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  margin: 15px 6px 12px 6px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.footer-area .social-icon li a:hover {
  color: #fff;
}

.footer-area .social-icon li .facebook:hover {
  background: #3B5998;
}

.footer-area .social-icon li .twitter:hover {
  background: #00aced;
}

.footer-area .social-icon li .instagram:hover {
  background: #fb3958;
}

.footer-area .social-icon li .foursqare:hover {
  background: #25a0ca;
}

.footer-area .social-icon li .google:hover {
  background: #d34836;
}

.footer-area .social-icon li .spotify:hover {
  background: #1db954;
}

.footer-area .footer-text p {
  font-size: 14px;
  margin-top: 20px;
  color: #fff;
}

.footer-area .footer-text p a {
  color: #ad1f6d;
}

.footer-area .footer-text .nav-inline .nav-link {
  padding: 11px 7px;
  color: #888;
}

.footer-area .footer-text .nav-inline .nav-link:hover {
  color: #ad1f6d;
}

.footer-2 {
  background: #252525;
}

.footer-2 img {
  margin-top: -8px;
}

.footer-2 h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
}

.footer-2 p {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  margin: 0;
  padding-right: 50px;
}

.footer-2 ul li a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.footer-2 ul li a:hover {
  color: #ad1f6d;
}

#copyright {
  background: #333;
}

#copyright p {
  line-height: 42px;
  color: #fff;
  margin: 0;
}

#copyright p a {
  color: #fff;
}

#copyright p a:hover {
  color: #ad1f6d;
}

/* ==========================================================================
   Countdown Style Start
   ========================================================================== */
.countdown-timer {
  background: url(../img/background/countdown.png);
}

.countdown-timer .heading-count {
  padding: 10px 68px;
}

.countdown-timer .heading-count h2 {
  font-size: 40px;
  color: #333;
  text-transform: uppercase;
  line-height: 48px;
}

.countdown-timer .heading-count h4 {
  font-size: 24px;
  font-weight: 300;
  color: #ad1f6d;
  margin-top: 30px;
}

.countdown-timer .heading-count h4 span {
  background: #333;
  padding: 7px 15px;
  color: #fff;
}

.countdown-timer .heading-count p {
  font-size: 14px;
  color: #333;
  line-height: 30px;
}

.time-count div {
  text-align: center;
}

.time-entry {
  display: inline-block;
  min-width: 120px;
  margin: 15px;
  height: 110px;
  padding: 20px;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.2);
  background: transparent;
  text-align: center;
  font-weight: 400;
  color: #ad1f6d;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 22px;
}

.time-entry span {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  display: block;
  color: #ad1f6d;
  margin-bottom: 10px;
}

.time-entry:first-child {
  border-left: none;
}

.time-countdown {
  margin: 15px 0px 50px 0;
}

/* Pricing Ticket */
#pricing .price-block-wrapper {
  border: 1px solid #ddd;
  display: inline-block;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#pricing .price-block-wrapper .colmun-title h5 {
  font-size: 19px;
  line-height: 30px;
  color: #2f323c;
  font-weight: 400;
  background: #ffffff;
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

#pricing .price-block-wrapper .price {
  padding-bottom: 10px;
  padding-top: 15px;
  background: #f9f9f9;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
}

#pricing .price-block-wrapper .price h2 {
  font-size: 42px;
  color: #2f323c;
  line-height: 42px;
  margin: 0;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
}

#pricing .price-block-wrapper .price h2 span {
  font-size: 25px;
  color: #2f323c;
  font-weight: 400;
  line-height: 35px;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
}

#pricing .price-block-wrapper .price p {
  font-size: 16px;
  color: #848484;
  font-weight: 400;
  line-height: 26px;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
}

#pricing .price-block-wrapper .pricing-list {
  padding: 30px;
  border-left: 1px solid #ddd;
}

#pricing .price-block-wrapper .pricing-list ul {
  padding-bottom: 30px;
}

#pricing .price-block-wrapper .pricing-list ul li {
  font-size: 15px;
  color: #848484;
  font-weight: 400;
  line-height: 26px;
  padding: 8px 0px;
}

#pricing .price-block-wrapper .pricing-list ul li i {
  margin-right: 7px;
  font-size: 12px;
}

#pricing .price-block-wrapper .pricing-list ul li i.fa-check-circle {
  color: #ad1f6d;
}

#pricing .price-block-wrapper .pricing-list ul li i.fa-times-circle {
  color: #f04;
}

#pricing .price-block-wrapper:hover .price {
  background: #ad1f6d;
}

#pricing .price-block-wrapper:hover:hover .price h2,
#pricing .price-block-wrapper:hover:hover .price h2 span,
#pricing .price-block-wrapper:hover:hover .price p {
  color: #fff;
}

#main-slide .carousel-control {
  display: none;
  transition: all 0.3s ease-in-out;
}

#main-slide .carousel-indicators {
  cursor: pointer;
  bottom: 90px;
}

#main-slide:hover .carousel-control {
  display: block;
  transition: all 0.3s ease-in-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* #main-slide .carousel-inner {
  margin-top: 60px;
} */

#main-slide .carousel-item img {
  position: relative;
  width: 100%;
}

#main-slide .carousel-inner .carousel-item::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#main-slide .carousel-item .carousel-caption {
  bottom: auto;
  opacity: 0;
  transition: opacity 100ms ease 0s;
  z-index: 0;
}

#main-slide .carousel-item .carousel-caption .heading {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1rem;
}

#main-slide .carousel-item.active .carousel-caption {
  background-color: #4c3b3bb3;
  opacity: 1;
  transition: opacity 100ms ease 0s;
  z-index: 1;
}

#main-slide .carousel-caption {
  color: #fff;
  position: absolute;
  top: 35%;
}

#main-slide .carousel-caption .btn {
  margin: 25px 25px 0px 0px;
}

#main-slide .carousel-control-next,
#main-slide .carousel-control-prev {
  opacity: 1;
  box-shadow: none;
}

#main-slide .carousel-control-prev span {
  padding: 15px;
}

#main-slide .carousel-control-next span {
  padding: 15px;
}

#main-slide .carousel-control {
  top: 45%;
}

#main-slide .carousel-control .fa-angle-left,
#main-slide .carousel-control .fa-angle-right {
  position: absolute;
  z-index: 5;
  display: inline-block;
}

#main-slide .carousel-control .fa-angle-left {
  left: 10px;
}

#main-slide .carousel-control .fa-angle-right {
  right: 10px;
}

#main-slide .carousel-control i {
  line-height: 40px;
  font-size: 18px;
  width: 45px;
  border: 2px solid #fff;
  height: 45px;
  display: block;
  border-radius: 2px;
  background: transparent;
  color: #fff;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

#main-slide .carousel-control i:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-color: #fff;
}

/* All the details page start here */

/* service detail */
#service-detail .service-block-wrapper {
  border: 1px solid #ddd;
  display: inline-block;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 3px rgb(0 0 0 / 20%);
}
#service-detail .service-block-wrapper .image-box {
  position: relative;
}
#service-detail .service-block-wrapper .service-img {
  width: 100%;
  height: 250px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#service-detail .service-block-wrapper .image-overlay {
  background-color: #192340;
  color: #fff;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  /* overflow: hidden; */
  transition: all 0.5s ease 0s;
  z-index: 20;
}
#service-detail .service-block-wrapper .service-title {
  padding-top: 10px;
  padding-bottom: 10px;
  /* font-size: 22px; */
  text-transform: uppercase;
  color: #fff;
  background-color: #ad1f6d;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#service-detail .service-block-wrapper .service-title h5 {
  margin: 0;
  font-size: 16px;
}
#service-detail .service-block-wrapper .btn-detail {
  display: none;
  position: absolute;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 40px;
  width: 85px;
  z-index: 21;
  line-height: 1;
  border-radius: 4px;
  transition: color 0.3s ease-in-out;
}
#service-detail .service-block-wrapper .btn-detail:hover {
  background-color: #ad1f6d;
}
#service-detail .service-block-wrapper:hover .btn-detail {
  display: block;
}
#service-detail .service-block-wrapper:hover .image-overlay {
  opacity: 0.5;
}
#service-detail .service-block-wrapper .icon-box {
  padding: 20px;
  color: #ad1f6d
}
#service-detail .service-block-wrapper .icon-box i {
  font-size: 50px;
}
#service-detail .service-block-wrapper .colmun-title h5 {
  font-size: 24px;
  text-transform: uppercase;
}
#service-detail .service-block-wrapper .service-description {
  padding: 20px;
}
#service-detail .service-block-wrapper .service-description p {
  text-align: justify;
}

.all-details .image-box {
  background-image: url("../../../img/default-banner_1366x140.jpg");
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
}
.all-details .image-box .section-title {
  color: #fff;
}
.all-details .image-box .section-title:before {
  background-color: #fff;
}

/* about us page */
#about-detail .image-right {
  float: right;
  padding-left: 10px;
}
#about-detail .title-sub {
  font-size: 38px;
  margin-bottom: 15px;
}
#about-detail p {
  text-align: justify;
}
@media (max-width: 460px) {
  #about-detail .image-right {
    float: none;
    padding-left: 0;
    margin-bottom: 20px;
  }
}

/* Service Details Page for single product */
.img-single-service {
  width: 100%;
  height: 22rem ;
}
.fullwidth .section-title-header {
  background-color: #1f381799;
  color: #fff;
}
.service-single-box .card-header {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ad1f6d;
}
#single-service .card-title {
  color: #ad1f6d;
}
#single-service ul i {
  color: #ad1f6d;
}